In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [14]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1366,tt0373926,80000000,162944923,The Interpreter,Nicole Kidman|Sean Penn|Catherine Keener|Jespe...,Sydney Pollack,The truth needs no translation.,"After Silvia Broome, an interpreter at United ...",128,Action,Universal Pictures|StudioCanal|Mirage Enterpri...,4/4/2005,6.2,2005
219,tt1698641,28000000,100654149,"Alexander and the Terrible, Horrible, No Good,...",Steve Carell|Jennifer Garner|Ed Oxenbould|Dyla...,Miguel Arteta,One day can change everything.,Alexander's day begins with gum stuck in his h...,81,Family|Comedy,Walt Disney Pictures|21 Laps Entertainment|Jim...,10/8/2014,6.2,2014
60,tt3076658,35000000,137935567,Creed,Michael B. Jordan|Sylvester Stallone|Graham Mc...,Ryan Coogler,Your legacy is more than a name,The former World Heavyweight Champion Rocky Ba...,133,Drama,New Line Cinema|Warner Bros.|Metro-Goldwyn-May...,11/25/2015,7.3,2015
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
148,tt1587310,180000000,758410378,Maleficent,Angelina Jolie|Elle Fanning|Juno Temple|Sharlt...,Robert Stromberg,Don't believe the fairy tale.,The untold story of Disney's most iconic villa...,97,Fantasy|Adventure|Action|Family|Romance,Walt Disney Pictures|Roth Films,5/28/2014,7.0,2014

In [16]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [208]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [15]:
data['profit'] = data.revenue - data.budget
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1531,tt0462504,10000000,7177143,Rescue Dawn,Christian Bale|Steve Zahn|Marshall Bell|Toby H...,Werner Herzog,A true story of survival... declassified.,A US Fighter pilot's epic struggle of survival...,126,Adventure|Drama|War,Metro-Goldwyn-Mayer (MGM),9/9/2006,6.6,2006,-2822857
938,tt0257756,42000000,63781810,High Crimes,Ashley Judd|Morgan Freeman|Jim Caviezel|Amanda...,Carl Franklin,Everything you trust. Everything you know. May...,High powered lawyer Claire Kubik finds her wor...,115,Drama|Mystery|Thriller|Crime,Twentieth Century Fox Film Corporation|Regency...,4/3/2002,6.0,2002,21781810
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012,24139100
910,tt0277434,75000000,114660784,We Were Soldiers,Mel Gibson|Greg Kinnear|Madeleine Stowe|Sam El...,Randall Wallace,400 U.S paratroopers. 4000 Vietnamese soldiers...,The story of the first major battle of the Ame...,138,Action|History|War,Paramount Pictures|Icon Entertainment Internat...,3/1/2002,6.5,2002,39660784
718,tt0455538,27000000,17286299,How to Lose Friends & Alienate People,Kelan Pannell|Janette Scott|Simon Pegg|Megan F...,Robert B. Weide,"He's across the pond, and out of his depth.",A British writer struggles to fit in at a high...,110,Comedy|Romance|Drama,UK Film Council|Intandem Films|Aramid Entertai...,10/2/2008,6.0,2008,-9713701

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [209]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [210]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [9]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [211]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [16]:
data.runtime.mean()

109.6585494970884

In [212]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [17]:
data.runtime.median()

107.0

In [213]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [26]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [214]:
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [28]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [215]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
data.profit[data.profit > 0].count()

1478

In [216]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [38]:
data[(data['release_year'] == 2008) & (data.revenue == data[data['release_year'] == 2008].revenue.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [217]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [66]:
data[data.profit == data[(2012 <= data['release_year']) & (data['release_year'] <= 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [218]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [205]:
import collections
list_genres = []

for i in data.genres:
    genres = str(i).split('|')
    for genre in genres:
        list_genres.append(genre)
        
genre_counter = collections.Counter()
for g in list_genres:
    genre_counter[g] += 1

genre_counter.most_common(1)[0][0]

'Drama'

In [219]:
answers['11'] = genre_counter.most_common(1)[0][0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [199]:
list_genres_profitable = []

data_profit = data[data.profit > 0][['genres', 'profit']]

for i in data_profit.genres:
    genres = str(i).split('|')
    for genre in genres:
        list_genres_profitable.append(genre)
        
genre_counter_profitable = collections.Counter()
for g_p in list_genres_profitable:
    genre_counter_profitable[g_p] += 1

genre_counter_profitable.most_common(1)[0]

('Drama', 560)

In [221]:
answers['12'] = genre_counter_profitable.most_common(1)[0][0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [197]:
director_rev = {}

for i in data.index:
    directors = data.director[i].split('|')
    for director in directors:
        if director in director_rev:
            director_rev[director] += data.iloc[i].revenue
        else:
            director_rev[director] = data.iloc[i].revenue

best_revenue = 0
best_director = []
for director, revenue in director_rev.items():
    if revenue > best_revenue:
        best_revenue = revenue
        best_director = director
print(best_director, best_revenue)

Peter Jackson 6490593685

In [222]:
answers['13'] = best_director

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [200]:
list_action_directors = []

for i in data.index:
    genres = data.genres[i].split('|')
    for genre in genres:
        if genre == "Action":
            directors = data.director[i].split('|')
            for director in directors:
                list_action_directors.append(director)
                
action_counter_profitable = collections.Counter()
for action_director in list_action_directors:
    action_counter_profitable[action_director] += 1

action_counter_profitable.most_common(1)[0][0]

'Robert Rodriguez'

In [223]:
answers['14'] = action_counter_profitable.most_common(1)[0][0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [43]:
actors_2012 = {}

for i in data.index:
    if data['release_year'][i] == 2012:
        actors = data.cast[i].split('|')
        for actor in actors:
            if actor in actors_2012:
                actors_2012[actor] += data.revenue[i]
            else:
                actors_2012[actor] = data.revenue[i]

revenue_sum = 0
actor_sum = []
for actor, revenue in actors_2012.items():
    if revenue > revenue_sum:
        revenue_sum = revenue
        actor_sum = actor
        
actor_sum

'Chris Hemsworth'

In [224]:
answers['15'] = actor_sum

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [227]:
list_actors = []
high_value_film = data.budget.median()

for i in data.index:
    if data.budget[i] > high_value_film:
        actors = data.cast[i].split('|')
        for actor in actors:
            list_actors.append(actor)

            
dict_actors = collections.Counter()
for actor in list_actors:
    dict_actors[actor] += 1
    
dict_actors.most_common(1)[0][0]

'Matt Damon'

In [229]:
answers['16'] = dict_actors.most_common(1)[0][0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [202]:
list_genre_nicolas = []

for i in data.index:
    actors = data.cast[i].split('|')
    for actor in actors:
        if actor == "Nicolas Cage":
            genres = data.genres[i].split('|')
            for genre in genres:
                list_genre_nicolas.append(genre)
                
dict_nicolas = collections.Counter()
for genre in list_genre_nicolas:
    dict_nicolas[genre] += 1
    
dict_nicolas.most_common(5)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

In [230]:
answers['17'] = dict_nicolas.most_common(5)[0][0]

# 18. Самый убыточный фильм от Paramount Pictures

In [196]:
paramount_profit = {}

for i in data.index:
    companies = data['production_companies'][i].split('|')
    for company in companies:
        if company == 'Paramount Pictures' and data.profit[i] < 0:
            paramount_profit[data['original_title'][i]] = data.profit[i]
            
profit_sum = 0
film_sum = []
for film, profit in paramount_profit.items():
    if profit < profit_sum:
        profit_sum = profit
        film_sum = film

print(film_sum, profit_sum)

K-19: The Widowmaker -64831034

In [231]:
answers['18'] = film_sum

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [234]:
pivot = data.pivot_table(values=['revenue'], index=['release_year'], aggfunc='sum')
pivot[pivot['revenue']==pivot.revenue.max()]

                  revenue
release_year
2015          25449202382

In [235]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [195]:
data_wb = data[data['production_companies'].str.contains('Warner Bros.')][['release_year', 'profit']]
data_wb.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [236]:
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [84]:
dict_month = {}

for i in data.index:
    months = data['release_date'][i].split('/')
    month = months[0]
    if month in dict_month:
        dict_month[month] += 1
    else:
        dict_month[month] = 1
        
dict_month

{'6': 147,
 '5': 140,
 '3': 156,
 '12': 190,
 '4': 149,
 '9': 227,
 '10': 186,
 '2': 135,
 '1': 110,
 '7': 142,
 '11': 146,
 '8': 161}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [88]:
summer_sum = dict_month['6'] + dict_month['7'] + dict_month['8']
summer_sum

450

In [237]:
answers['22'] = summer_sum

# 23. Для какого режиссера зима – самое продуктивное время года?

In [239]:
director_winter_films = {}
winter_months = ['1', '2', '12']

for i in data.index:
    months = data['release_date'][i].split('/')
    month = months[0]
    if month in winter_months:
        directors = data.director[i].split('|')
        for director in directors:
            if director in director_winter_films:
                director_winter_films[director] += 1
            else:
                director_winter_films[director] = 1
                
director_winter_films

max_winter_films = max(director_winter_films.values())
for winter_director, quantity in director_winter_films.items():
    if quantity == max_winter_films:
        print(winter_director, quantity)

Peter Jackson 7

In [240]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [194]:
company_films = {}

for i in data.index:
    companies = data.production_companies[i].split('|')
    for company in companies:
        if company in company_films:
            company_films[company].append(data.original_title[i])
        else:
            company_films[company] = []
            company_films[company].append(data.original_title[i])
            
company_films_2 = {}

for company, films in company_films.items():
    count = 0
    for i in films:
        count += len(i)
    avg_len = count / len(films)
    company_films_2[company] = avg_len


max_title_len = max(company_films_2.values())
for company, avg_len in company_films_2.items():
    if avg_len == max_title_len:
        print(company, avg_len)

Four By Two Productions 83.0

In [241]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [193]:
company_overview = {}

for i in data.index:
    companies = data.production_companies[i].split('|')
    for company in companies:
        if company in company_overview:
            company_overview[company].append(data.overview[i])
        else:
            company_overview[company] = []
            company_overview[company].append(data.overview[i])

company_overview_2 = {}

for company, overview in company_overview.items():
    count = 0
    for words in overview:
        w = words.split()
        count += len(w)
    avg_len = count / len(overview)
    company_overview_2[company] = avg_len

max_overview_len = max(company_overview_2.values())
for company, avg_len in company_overview_2.items():
    if avg_len == max_overview_len:
        print(company, avg_len)

Midnight Picture Show 175.0

In [242]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [149]:
percentage = int(round(data.original_title.count()/100))
data[['original_title', 'vote_average']].sort_values(by='vote_average', ascending=False).head(percentage)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [185]:
data_actors = data[['cast', 'tagline']]
data_actors

,cast,tagline
0,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,The park is open.
1,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,What a Lovely Day.
2,Shailene Woodley|Theo James|Kate Winslet|Ansel...,One Choice Can Destroy You
3,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Every generation has a story.
4,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Vengeance Hits Home
...,...,...
1884,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Evolution Begins
1885,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,"They're not just best friends, they're blood b..."
1886,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,This summer it's not the same old bull.
1887,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Every family has a few hang-ups.
1888,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,What would you do to get in?

In [203]:
pair_of_actors = []

for index in data_actors.index:
    actors = data_actors.cast[index].split('|')
    for i in range(0, len(actors)):
        for j in range(i+1, len(actors)):
            if actors[i] > actors[j]:
                pair_of_actors.append(actors[i] + " - " + actors[j])
            else:
                pair_of_actors.append(actors[j] + " - " + actors[i])
    
dict_pair = collections.Counter()
for pair in pair_of_actors:
    dict_pair[pair] += 1
dict_pair.most_common(5)

[('Rupert Grint - Daniel Radcliffe', 8),
 ('Emma Watson - Daniel Radcliffe', 8),
 ('Rupert Grint - Emma Watson', 8),
 ('Owen Wilson - Ben Stiller', 6),
 ('Johnny Depp - Helena Bonham Carter', 6)]

# Submission

In [243]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

In [21]:
# и убедиться что ни чего не пропустил)
len(answers)

5